<launch>
   <master auto="start"/>
 	<!-- Run the map server  
    	<node name="map_server" pkg="map_server" type="map_server" args="$(find my_map_package)/my_map.pgm my_map_resolution"/>-->

 	<!--- Run AMCL 
    	<include file="$(find amcl)/examples/amcl_omni.launch" /> --> 
	<node pkg="tf2" type="static_transform_publisher" name="base_link_broadcaster" args="0 0 0 0 0 0 1 base_link odom" />
   	<node pkg="move_base" type="move_base" respawn="false" name="move_base" output="screen">
		<rosparam file="$(find robosar_navigation)/costmap_common_params.yaml" command="load" ns="global_costmap" /> 
		<rosparam file="$(find robosar_navigation)/costmap_common_params.yaml" command="load" ns="local_costmap" />
		<rosparam file="$(find robosar_navigation)/local_costmap_params.yaml" command="load" />
		<rosparam file="$(find robosar_navigation)/global_costmap_params.yaml" command="load" /> 
		<rosparam file="$(find robosar_navigation)/base_local_planner_params.yaml" command="load" />
 	</node>
</launch> 
